.badge {
  margin-right: 5px;
}

.detail {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1em;
  /* color: #000; */
  text-decoration: none;
  text-transform: capitalize;
}
